html {
    font-size: 16px;
}

body > * {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.indicator {
    background-color: white;
    color: white;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.2rem;
    margin-bottom: 0;
    font-size: 0;
    text-transform: uppercase;
}

.indicator-on {
    margin-bottom: 1rem;
    height: 3rem;
    font-size: 1.5rem;
    background-color: lightcoral;
    color: #333;
}


.app {
    padding: 10px 30px;
    width: 100%;
    box-sizing: border-box;
}

.title {
    color: #333;
    background-color: #ccc;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem;
    border-radius: 0.2rem;
    margin: 1rem 0 0 0;
}

.result {
    width: 100%;
    height: 300px;
    background-color: lightgrey;
    border-radius: 0.2rem;
    margin: 0;
    padding: 20px;

    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    overflow-y: scroll;
}

.client-item {
    color: #fff;
    background-color: rgb(90, 101, 112);
    padding: 20px;
    margin-bottom: 5px;
    border-radius: 3px;
    box-sizing: border-box;
    width: 100%;
}

.btn {
    padding: 0.8rem;
    margin: 0.5rem 0.2rem;
    font-weight: bold;
    border-radius: 0.2rem;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
    font-size: 1rem;
    outline: none;
    border: 0px;
}

.filter-btn {
    background-color: rgb(115, 129, 143);
}

.filter-btn:active,
.filter-btn:hover {
    background-color: rgb(90, 101, 112);
}

.load-btn {
    background-color: rgb(97, 144, 182);
}

.load-btn:active,
.load-btn:hover {
    background-color: rgb(57, 122, 175);
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}